<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div class="govuk-govspeak gv-s-prose">
      <p>Child abuse is any action that causes significant harm to a child.</p>
      <p>Examples include:</p>
      <ul class="list list-bullet">
        <li>emotional or psychological abuse</li>
        <li>physical abuse</li>
        <li>sexual abuse</li>
      </ul>
      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO"><p>Only include abuse by the other person (the respondent) or someone connected to the other person.</p>
      </div>
    </div>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :children_abuse, inline: true, choices: GenericYesNo.values %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
