<% title t('.page_title') %>
<% step_header(path: root_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <h1 class="govuk-heading-l"><%=t '.heading' %></h1>
    <h2 class="govuk-body-m"><%= t('.lead_text') %></h2>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :platform, legend: nil do %>
        <%= f.govuk_radio_button :platform, ApplicationPlatform::MY_HMCTS %>
        <%= f.govuk_radio_button :platform, ApplicationPlatform::GOV_UK %>
      <% end %>

      <%= f.continue_button %>
    <% end %>

  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'shared/help_dropdown' %>
  </div>
</div>