<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede gv-u-text-lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%=
        f.radio_button_fieldset :international_resident, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES, panel_id: :international_resident_panel)
          fieldset.radio_input(GenericYesNo::NO)
          fieldset.revealing_panel(:international_resident_panel) do |panel|
            panel.text_area :international_resident_details, size: '40x4', class: 'form-control-3-4'
          end
        end
      %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>

<details role="group" data-block-name="international_resident-explanation">
  <summary role="button">
    <span class="summary">Why do we ask this?</span>
  </summary>
  <div class=" panel panel-border-narrow undefined">
    <p>We need to know if your children have any close family who live in another country so we can assess whether there are grounds to start a court case there.</p>



  </div>
</details>