<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <p class="govuk-body-l"><%=t '.lead_text' %></p>

      <%= f.govuk_email_field :receipt_email, autocomplete: 'email', spellcheck: 'false' %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
