<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <% if current_c100_application.miam_exemption&.adr&.exclude? 'misc_adr_none' %>
      <%=t '.info_adr_selected_html' %>
    <% else %>
      <%=t '.info_html' %>
    <% end %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_text_area :exemption_details, rows: 8, label: { hidden: true } %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
