<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%=t '.dropdown_header' %>
    </span>
  </summary>
  <div class="govuk-details__text">
      <h3><%=t '.title' %></h3>
      <%=t '.text_1' %>
      <a href="mailto:<%=t '.link' %>">
        <%=t '.link' %>
      </a>
      <%=t '.text_2_html' %>
  </div>
</details>
