<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.page_title') %></h1>

    <div class="govuk-body"><%= t('.upload_instructions_html') %></div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t('.dropdown_header') %>
        </span>
      </summary>
      <div class="govuk-details__text upload-ordered-list">
        <%= t('.dropdown_content_html') %>
      </div>
    </details>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: 'steps/shared/document_upload/multiple_document_upload', locals: { document_list: @documents_list,
    document_key: :court_order_uploads } %>

      <%= f.continue_button %>
    <% end %>

    <%= display_current_document(@form_object.document_key) %>

  </div>
</div>