<div class="govuk-summary-list__row" id="<%= file_row.question %>">
  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%=t "check_answers_html.#{file_row.question}.question", file_row.i18n_opts %>
  </dt>
  <dd class="govuk-summary-list__value">
    <strong>Attached document</strong><br>
    <% if file_row.value.instance_of? Array %>
      <% file_row.value.each do |file_name| %>
        <p style="margin: 5px 0;"><%= file_name %></p>
      <% end %>
    <% else %>
      <%= file_row.value %>
    <% end %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= render partial: 'steps/completion/shared/change_link', locals: { question: file_row } %>
  </dd>
</div>
