<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <h1 class="govuk-heading-xl">
      <%= t '.heading', name: @form_object.full_name %>
    </h1>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_radio_buttons_fieldset :email_provided, legend: { tag: 'span', size: 'm' } do %>
        <%= f.govuk_radio_button :email_provided, GenericYesNo::YES, link_errors: true do %>
          <%= f.govuk_email_field :email %>
        <% end %>
        <%= f.govuk_radio_button :email_provided, GenericYesNo::NO %>
      <% end %>


      <%= f.govuk_phone_field :phone_number, width: 'one-half' %>
      <%= f.govuk_phone_field :fax_number, width: 'one-half' %>

      <%= f.govuk_text_field :dx_number, width: 'one-half' %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
