<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>

    <p class="govuk-body"><%= t('.lead_text_html') %></p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t('.dropdown_header') %>
        </span>
      </summary>
      <div class="govuk-details__text upload-ordered-list">
        <%= t('.dropdown_content_html') %>
      </div>
    </details>

    <div id="other-errors">
      <%= govuk_error_summary %>
    </div>

    <!-- File size error -->
    <div id="file-size-error" class="govuk-error-summary hidden" role="alert" data-module="govuk-error-summary" aria-labelledby="error-summary-title">
      <h2 id="error-summary-title" class="govuk-error-summary__title">
        There is a problem on this page</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li><a data-turbo="false" href="#base-form-base-field-error">This file is too big. You will need to resubmit a smaller version, less than 20 megabytes (MB)</a></li>
        </ul>
      </div>
    </div>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= document_upload_field(f, @form_object.document_key, label_text: t('.attach_document_html'),
        paragraph_text: t('.upload_explanation_html')) %>

      <%= f.continue_button %>
    <% end %>

    <%= display_current_document(@form_object.document_key) %>
  </div>
</div>