<% if request.format.html? %>
  <title><%= t('.draft_application_title') %></title>
  <link rel="icon" sizes="48x48" href="<%= asset_path 'govuk-frontend/dist/govuk/assets/images/favicon.ico' %>" />
  <link rel="icon" sizes="any" href="<%= asset_path 'govuk-frontend/dist/govuk/assets/images/favicon.svg' %>" type="image/svg+xml">
<% end %>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag pdf_asset_base64('pdf_summary') -%>
  </head>

  <body id="application-details-pdf" class="status-<%= presenter.c100_application.status %>">
    <p class="draft-watermark"><%= t('.watermark') %></p>
    <%= render presenter.sections %>
  </body>
</html>
