<% if user_signed_in? %>
  <li class="govuk-service-navigation__item <%= 'govuk-service-navigation__item--active' if current_page?(users_drafts_path) %>">
    <%= link_to t('.your_drafts'), users_drafts_path, class: 'govuk-service-navigation__link' %>
  </li>

  <li class="govuk-service-navigation__item <%= 'govuk-service-navigation__item--active' if current_page?(edit_user_registration_path) %>">
    <%= link_to t('.change_password'), edit_user_registration_path, class: 'govuk-service-navigation__link' %>
  </li>

  <li class="govuk-service-navigation__item">
    <span class="govuk-service-navigation__text">
      <%= current_user.email %>
    </span>
  </li>

  <li class="govuk-service-navigation__item">
    <%= button_to t('.logout'), destroy_user_session_path, method: :delete, class: 'govuk-service-navigation__link app-header__logout-link' %>
  </li>
<% end %>